$backgroundColor: #000000;
$bodyColor: #ffffff;

body {
  background: $backgroundColor !important;
  color: $bodyColor !important;
  font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
	padding: 0 !important;
}

.navbar-barnd, .navbar-dark {
	a {
		font-weight: bold !important;
		text-transform: uppercase !important;
	}
}

.nav-link {
	font-size: 14px !important;
}

// Podcast //

.podcast {
	letter-spacing: 0.063rem;
	margin-top: 50px !important;
	margin-bottom: 50px !important;
	h2 {
		font-size: 2.5rem !important;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 50px;
	}

	.artist_social {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.nav-link {
			color: white;
			font-size: 2rem !important;
		}
	}
}

.cropped {
  object-fit: cover;
	width: 200px;
  height: 200px;
}

